<template>
  
<form @submit="onSubmit" class="form-horizontal">


<!-- Form Name -->
<legend>Crear Usuario</legend>
<p v-if="errors.length">
    <b>Se han producido los siguientes errores:</b>
    <ul>
    <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
    </ul>
</p>


<!-- Text input-->
<div class="form-group row">
  <label class="col-md-1 control-label" for="username">Username</label>  
  <div class="col-md-4">
  <input id="username" name="Usuario" type="text" placeholder="Usuario" class="form-control input-md" v-model="username" v-model.trim="form.username">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group row">
  <label class="col-md-1 control-label" for="password">Password </label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Password " class="form-control input-md" v-model="password" v-model.trim="form.password" >
    
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-1 control-label" for="email">email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="email" placeholder="email" class="form-control input-md" v-model="email" v-model.trim="form.email">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-1 control-label" for="first_name">First name</label>  
  <div class="col-md-4">
  <input id="first_name" name="Nombre" type="text" placeholder="Nombre" class="form-control input-md" v-model="first_name" v-model.trim="form.first_name">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group row">
  <label class="col-md-1 control-label" for="last_name">Last name</label>  
  <div class="col-md-4">
  <input id="last_name" name="Apellido" type="text" placeholder="Apellido" class="form-control input-md" v-model="last_name" v-model.trim="form.last_name">
    
  </div>
</div>

<!-- Button -->
<div class="form-group row">
  <label class="col-md-1 control-label" for="crea_boton"></label>
  <div class="col-md-4">
    <button type="submit" id="crear_boton" name="crear_boton" class="btn btn-primary">Crear</button>
  </div>
</div>

</form>
</template>

<script>


import axios from 'axios'

export default {
    /*Peticion por axios para obtener el jwt, 
    el usuario y el password es el que se encuentra en el backend*/
      created(){
            const url='http://127.0.0.1:8000/api/token/' 
            let datos=
            {
                "username":"fer", 
                "password":"fer101191"
            
            }
            axios.post(url,datos)
            .then((response) => {
            this.token=response.data.access // asignacion del jwt
            })
            .catch((error) => {
                    console.log(error) 
            })   
    },

             

    data() {
        return {
            errors: [],
            username: '',
            password: '',
            email: '',
            first_name: '',
            last_name: '',
            token:'',
            form:{
                username: '',
                password: '',
                email: '',
                first_name: '',
                last_name: ''
            }
        }
    },
    methods: {
        //validaciones de campos
        checkForm: function (e) {
            this.errors = [];

            if (!this.username) {
                this.errors.push("Usuario es obligatorio.");
            }
            if (!this.password) {
                this.errors.push("Password es obligatorio.");
            }
            if (!this.email) {
                this.errors.push('Email es obligatorio.');
             } 
            if (!this.first_name) {
                this.errors.push("Nombre es obligatorio.");
            }
            if (!this.last_name) {
                this.errors.push("Apellido es obligatorio.");
            }

            if (!this.errors.length) {
                return true;
            }

            return false

            },
        // Evento onsubmit para el envio de datos por medio de axios post
        //El tipo de autorización es Bearer y necesita el token 
        onSubmit(evt){
            evt.preventDefault()
            const result = this.checkForm()
            if (result){
                const path = 'http://127.0.0.1:8000/users/post'
                let form = this.form
                let info=this.token
                let config ={
                    headers: { Authorization: `Bearer ${info}`}}  
                axios.post(path, form,config).then((response) => {
                    console.log(response.data)
                    alert('Creación del usuario correctamente')
                })
                .catch((error) => {
                    console.log(error)
                })
            }
        },
    },
  
 
}


</script>

<style  scoped>
</style>
